#!/usr/bin/env bash
set -Eeo pipefail


export DOCKER_IMAGE_GROUP=caoer
export OPI_IMAGE=caoer/opi
export BITCOIND_IMAGE=caoer/bitcoind

export WORKSPACE_ROOT="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

PATH_add $WORKSPACE_ROOT/tools/bin

export OPI_PG_DATA_PATH="${WORKSPACE_ROOT}/data/opi/postgres-data"
export OPI_BITCOIND_PATH="${WORKSPACE_ROOT}/data/bitcoind"

export DB_USER="postgres"
export DB_HOST="postgres-opi-server"
export DB_PORT="5432"
export DB_DATABASE="db_opi"
export DB_PASSWD="passwd_123!@#"
export DB_SSL="false"
export DB_MAX_CONNECTIONS=10
export API_HOST="127.0.0.1"
export API_PORT="8001"
export API_TRUSTED_PROXY_CNT="0"

export DB_METAPROTOCOL_USER="postgres"
export DB_METAPROTOCOL_HOST="postgres-opi-server"
export DB_METAPROTOCOL_PORT="5432"  
export DB_METAPROTOCOL_DATABASE="db_opi"
export DB_METAPROTOCOL_PASSWD="passwd_123!@#"

export API_HOST="127.0.0.1"
export API_PORT="8001"
export API_TRUSTED_PROXY_CNT="0" 

export NETWORK_TYPE="mainnet"

export REPORT_TO_INDEXER="true"
export REPORT_URL="https://api.opi.network/report_block"
export REPORT_RETRIES="10"

export REPORT_NAME="alexgo-opi-infra"

export REPORT_NAME_SNS=""
export REPORT_NAME_BITMAP=""
export REPORT_NAME_BRC20=""

export USE_EXTRA_TABLES="true"

export DB_MAX_CONNECTIONS="50"
export BITCOIN_CHAIN_FOLDER="/bitcoind/datadir"

export BITCOIN_RPC_USER="bitcoin"
export BITCOIN_RPC_PASSWD="3Pz9zHvEkNrHkKRg"
export BITCOIN_RPC_URL="http://bitcoind:8332"

export BITCOIN_RPC_PORT="8332"
export BITCOIN_ZMQ_PORT="18543"

export ORD_BINARY="/usr/local/OPI/ord/target/release/ord"
export ORD_FOLDER="/usr/local/OPI/ord/target/release"
export ORD_DATADIR="/ord_data"

export OPI_VOLUME_SIZE="1200"
export OPI_VOLUME_SNAPSHOT_ID=""

# DEPLOY
export DIGITAL_OCEAN_SSH_KEY_NAME=""
export DIGITAL_OCEAN_SSH_KEY_ID=""
export DIGITAL_OCEAN_API_KEY=""

export PRIVATE_KEY_PATH="~/.ssh/id_rsa"


if [[ -f .envrc.override ]]; then
    source_env .envrc.override
fi

configs/gen.sh